body {
	background-color: azure;
	text-shadow: 1px 1px gray;
	color: black;
}

div.snippet {
	border-style: inset;
	border-width: 1px;
}

div.snippet i {
	float: right;
}

div.snippet br {
	clear:right;
}

div.snippet iframe {
	border-top-style: inset;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: none;
	border-top-width: 1px;
	width: 100%;
	max-height: 6em;
}

.half-column {
	float: left;
	min-width: 50%;
}
.quarter-column, div.snippet {
	float: left;
	min-width: 25%;
}
