
body{
	background-color: rgb(207, 205, 205);
}
.indexdiv{
	background-color: rgb(42, 93, 102);
	
	display: block;
	text-align: center;
	border: 1px solid black;
	border-radius: 8px;
	margin-bottom: 20px;

}
#helloworld{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-style: italic;

}
.container{
	display: flex;
	justify-content: space-around;
	
	
}

.thirddiv{
	
	display: flex;
	
	background-color: rgb(5, 50, 68);
	border: 1px solid black;
	border-radius: 8px;
	display:flex;
	flex-direction:column;
	color: white;
	text-align: center;
	
}
.link{
	color:white;

}
